input:focus, textarea:focus, button:focus, a.btn:focus {
  border-color: #dc3545!important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.4)!important;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #dc3545!important;
  border-color: #dc3545!important;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.4)!important;
}

input[type=range]::-ms-slider-thumb {
  background-color: #dc3545!important;
  border-color: #dc3545!important;
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.4)!important;
}

input[type=checkbox]:checked + .custom-control-label::before {
  border-color: #dc3545!important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.4)!important;
}
input[type=checkbox]:focus + .custom-control-label::before {
  border-color: #dc3545!important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.4)!important;
}

input[type=checkbox]:checked + .custom-control-label::before {
  background: #dc3545!important;
}